@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-urbanist: 'Urbanist', sans-serif;
}

body {
  font-family: var(--font-urbanist);
}

@layer utilities {
  .animate-spin-slow {
    animation: spin 20s linear infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
